<!DOCTYPE html>
<div class="col-md-12 m-0 d-flex justify-content-between">
  <div class="row justify-content-center d-flex align-items-center">
    <label class="col-md-4 m-3 text-right" for="agence">Agence:</label>
    <input class="col-md-4 h-75" type="text" id="agence">
  </div>
</div>
<div class="col-md-12 m-0 d-flex">
  <label class="mr-1">Responsable : </label>
  <select>
      <option>Choisissez votre responsable d'agence</option>
      <option *ngFor="let agent of agents">{{agent.nom}}</option>
  </select>
</div>
<p>Add form adresse ici</p>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-secondary m-3" routerLink="/client/liste-agence">Annuler</button>
  <button type="button" class="btn btn-success m-3" routerLink="/client/liste-agence">Valider</button>
</div>