<div class="row">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <label for="agence">Immatriculation du véhicule</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="agence">Date de transfert</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="date" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <label for="agence">Motif</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col text-right">
    <button type="button" class="btn btn-secondary" routerLink="/client/liste-agence">Annuler</button>
    <button type="button" class="btn btn-success ml-2 mr-3" routerLink="/client/liste-agence">Valider</button>
  </div>
</div>