<div class="row" [formGroup]="fg">
  <div class="col-md-6">
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Adresse</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" id="adresse" formControlName="adresse">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Code postal</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" id="code-postal" formControlName="codePostal">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Ville</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" id="ville" formControlName="ville">
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="container-fluid">
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Télephone</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" id="telephone" formControlName="telephone">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Fax</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" id="fax" formControlName="fax">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-3">
          <label>Email</label>
        </div>
        <div class="col-md-9">
          <input class="form-control" type="text" id="email" formControlName="email">
        </div>
      </div>

    </div>
  </div>
</div>
