<div class="titre">
    <p>
        Ajouter un vehicule
    </p>
</div>

<div id="formulaire">
    <form action="">
        <label>Immatriculation : </label><input type="text" id="Immatriculation" name="Immatriculation"> <br><br>
        <br><br>
        <label>Marque : </label><input type="text" id="Marque" name="Marque"> <br><br>
        <label>Mise en circulation : </label><input type="text" id="mec" name="Mec"> <br><br>
        <label>Permis : </label><input type="text" id="Permis" name="Permis"> <br><br>
        <br><br>
        <label>Puissance : </label><input type="text" id="Puissance" name="Puissance"> <br><br>
        <label>Kilomètrage : </label><input type="text" id="Kilometrage" name="Kilometrage"> <br><br>
        <label>Carburant : </label><input type="text" id="Carburant" name="Carburant"> <br><br>
        <label>Classe eco : </label><SELECT id="Eco" name="Eco" size="1">
          <OPTION>A
          <OPTION>B
          <OPTION>C
          <OPTION>D
          <OPTION>E
          <OPTION>F
          <OPTION>G
        </SELECT><br><br>
        <br><br>
        <label>Hauteur : </label><input type="text" id="Hauteur" name="Hauteur"> <br><br>
        <label>Longueur : </label><input type="text" id="Longueur" name="Longueur"> <br><br>
        <label>Largeur : </label><input type="text" id="Largeur" name="Largeur"> <br><br>
        <label>Poids : </label><input type="text" id="Poids" name="Poids"> <br><br>

        <button type="button" class="btn btn-secondary m-3" routerLink="/client/liste-vehicule-parc">Annuler</button>
        <button type="button" class="btn btn-success m-3" routerLink="/client/liste-vehicule-parc">Valider</button>
    </form>
</div>


 
  