<div class="row mt-1">
    <div class="col-md-12">
        <div class="row mt-1">
            <div class="col-md-3 ">
                <label for="agence">Immatriculation</label>
            </div>
            <div class="offset-md-4 col-md-5">
                <input class="form-control" type="text" id="agence">
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Marque</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-5">
                    <label for="agence">Mise en circulation</label>
                </div>
                <div class="col-md-7">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Permis</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Puissance</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Kilométrage</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Carburant</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-6">
        <div class="container-fluid">
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Classe ECO</label>
                </div>
                <div class="offset-md-6 col-md-3">
                    <select class="form-control" id="agence">
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                        <option>E</option>
                        <option>F</option>
                        <option>G</option>
                    </select>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Hauteur</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Largeur</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container-fluid">           
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Longueur</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-3 ">
                    <label for="agence">Poids</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control" type="text" id="agence">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col text-right">
      <button type="button" class="btn btn-secondary" routerLink="/client/liste-agence">Annuler</button>
      <button type="button" class="btn btn-success ml-2 mr-3" routerLink="/client/liste-agence">Valider</button>
    </div>
  </div>