label{
    display: block;
    width: 150px;
    float: left;
    width: 170px;
}

form {
    margin-top: 75px;
}

#formulaire{
    height: 400px;
    overflow: auto;
}

.titre{
    font-weight: bold;
    font-size: 25px;
}