<div class="row mt-2 p-1">
        <table class="table table-fixed">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let agent of agents">
              <td class="">
                {{agent.nom}}
              </td>
              <td class="">
                <button class="btn btn-success m-1" routerLink="/client/form-agence">
                  <i class="fas fa-cog"></i>
                </button>
                <button class="btn btn-danger m-1" routerLink="">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
